:root {
    --header-color: #E5E5E5;
    --h-color: #212121;
    --text-color: #757575;
    --main-title-color: #2F303A;
    --second-title-color: #F5F4FA;
    --focus-color: #2196F3;
    --text-bacground-color: #FFFFFF;

}